body{
    overflow-x: hidden;
}

.all-margin{
    padding-top:100px;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    border-color: #0a57ca00 !important;
    box-shadow: 0 0 0 0 rgb(49 132 253 / 0%) !important;
}
#dropdown-basic{
    padding: 0 !important;
}

.drop{
    border-radius: 15px;
    box-shadow: 0 0 64px rgb(17 17 17 / 20%);
}
.sidenav{
    width: 16rem;
   
}

.sidenav-icon{
    left: 2rem;
    bottom: 2rem;
}